*{margin: 0;padding: 0;font-size: 14px;font-family: "微软雅黑"}
#header{
	height: 81px;
	background-color: #fff;
	border-bottom: 1px black solid;
	position: relative;
}
#header_img{
	width: 100%;
	height: 41px;
	background-color: #fff;
	position:absolute;
	top: 20px;
	text-align: left;
}
#header_img img{
	width: 150px;
	height: 41px;
}


#login_main{
	height: 560px;
	position: relative;
}
#login_main form{
	width: 420px;
	height: 490px;
	background: #fff;
	position: absolute;
	top: 20px;
	right: 100px;
}
#login_main h3{
	height: 45px;
	background: #66CD00;
	color: #fff;
	font-size: 20px;
	font-weight: bolder;
	line-height: 45px;
	text-align: center;
}
#login_main #imgs{
	list-style: none;
}
#login_main #imgs li img{
	width: 100%;
	height: 560px;
	position: absolute;
}

#login_main #img_btn{
	position: relative;
	width: 100px;
	height: 20px;
	margin: 0 auto;
	top:530px;
	list-style: none;
}
#login_main #img_btn li{
	width: 20px;
	height: 20px;
	float: left;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
}
#login_main #img_btn li div{
	width: 6px;
	height: 6px;
	border-radius:3px;
	background: #fff;
	cursor:pointer;
}
.on{
    color:#fff;
}


#footer{
	height: 81px;
	background: #fff;
	margin: 25px 0;
}
#footer p{
	text-align: center;
	font-size: 12px;
	color: #777;
	line-height: 18px;
	font-family: "微软雅黑";
}
#footer a{
	text-decoration: none;
	font-size: 12px;
	color: #777;
	font-family: "微软雅黑";
}